<p>
  <b>Sid:</b>
  <%=h @status.sid %>
</p>

<p>
  <b>Uid:</b>
  <%=h @status.uid %>
</p>

<p>
  <b>Status:</b>
  <%=h @status.status %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>