
<p id="notice"><%= notice %></p>

<p>
  <b>State:</b>
  <p>
    <%= 
    @status.state
    %>
    <span id="busy" class="<%= @status.find_active(1) %> star">&#10025;</span> |
    <span id="maybe" class="<%= @status.find_active(2) %> star">&#10025;</span> |
    <span id="open" class="<%= @status.find_active(3) %> star">&#10025;</span> |
    <span id="busy1" class="<%= @status.find_active(4) %> star">&#9733;</span>  |
    <span id="busy2" class="<%= @status.find_active(5) %> star">&#9734;</span>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
<%= link_to 'Destroy', @status, :method => :delete, 
                                :confirm => 'Are you sure?',
                                :title => @status.state %>
