.row
  .eight.columns
    -#%h1
    -#= gravatar_for @user
    -#= @user.name
    -#%br
    = render 'follow_form' if signed_in?
    - unless @user.statuses.empty?
      %table.statuses{:summary => "User status updates"}
        = render :partial => 'shared/feed_item', :collection => @statuses
        = will_paginate @statuses
  .four.columns.sidebar
    = render 'shared/user_info'
    = render 'shared/stats'
