%table.profile{:summary => "Profile information"}
  %tr
    %td.main
      %h1
        = gravatar_for @user
        = @user.name
      = render 'follow_form' if signed_in?
      - unless @user.statuses.empty?
        %table.statuses{:summary => "User updates"}
          = render @statuses
        = will_paginate @statuses
    %td.sidebar.round
      %strong Name
      = @user.name
      %br/
      %strong URL
      = link_to user_path(@user), @user
      = render 'shared/stats'
      = render 'bio'