= form_for(@status) do |f|
  .field
    = f.label "Busy"
    = f.radio_button :state, 1, :id => 'Busy'
    %br/
    = f.label "Maybe"
    = f.radio_button :state, 2, :id => 'Maybe'
    %br/
    = f.label "Open"
    = f.radio_button :state, 3, :id => 'Open'
    .actions
      = f.submit