= form_for(@status) do |f|
  %ul.field.status
    %li= f.label "Busy"
    %li= f.radio_button :state, 1, :id => 'Busy'
    \ &nbsp;&nbsp;
    %li= f.label "Maybe"
    %li= f.radio_button :state, 2, :id => 'Maybe'
    \ &nbsp;&nbsp;
    %li= f.label "Open"
    %li= f.radio_button :state, 3, :id => 'Open'
