<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">Status go here!</h1>
        <%= 
        # render 'shared/micropost_form' 
        %>
        <%= render 'shared/status_form'%>
				<%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
				<%= render 'shared/stats' %>
      </td>
    </tr>
  </table>
<% else %>
  <h1>Statustar</h1>
  <p>
    <a href="http://statustar.heroku.com/">Statustar</a>
		: Update Anywhere, Status Everywhere.
  </p>
  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
