- if signed_in?
  .row
    .eight.columns
      %h1.status Status here!
      = render 'shared/status_form', :locals => { @status => :status }
      = render 'shared/feed'
    .four.columns.sidebar
      = render 'shared/user_info'
      = render 'shared/stats'
- else
  %h1 Statustar
  .div#home
    %a{:href => "http://statustar.heroku.com/"} Statustar
    \: Update Anywhere, Status Everywhere.
  = link_to "Sign up now!", new_user_registration_path, :class => "signup_button round"
