%footer
  %nav.twelve.columns.centered.round
    %ul
      %li= link_to "About",   about_path
      %li= link_to "Contact", contact_path
      %li= link_to "Terms",   terms_path
      %li= link_to "FAQ",     faq_path
      %li= link_to "Privacy", privacy_path


